<div class="page-login">
  <div class="ui middle aligned center aligned grid">
    <div class="nine wide column">
      <h2 class="ui image header">
        <img src="assets/images/Logo_Circle.png" class="image" />
        <div class="content">Log-in to Kanban</div>
      </h2>
      <form class="ui form" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <div class="ui stacked segment">
          <app-input
            inputType="text"
            label="Username"
            [control]="loginForm.controls['login'] | cast"
            placeholder="Username or Email"
            [hasIcon]="true"
            iconClass="user icon"
          ></app-input>
          <app-input
            inputType="password"
            label="Password"
            [control]="loginForm.controls['password'] | cast"
            placeholder="Password"
            [hasIcon]="true"
            iconClass="lock icon"
          ></app-input>
          <button
            class="ui primary labeled icon button"
            type="submit"
            [disabled]="this.loginForm.invalid"
          >
            <i class="unlock alternate icon"></i>
            Login
          </button>
        </div>
      </form>

      <div class="ui icon warning message" *ngIf="loginForm.errors">
        <i class="ban icon"></i>
        <div class="content" *ngIf="loginForm.errors?.['credentials']">
          <div class="header">Login failed!</div>
          <p>Incorrect username or password!</p>
        </div>
      </div>

      <div class="ui message">New to us? <a href="signup">Sign Up</a></div>
    </div>
  </div>
</div>
