<div class="page-login">
  <div class="ui middle aligned center aligned grid">
    <div class="nine wide column">
      <h2 class="ui image header">
        <img src="assets/images/logo.png" class="image" />
        <div class="content">Log-in to Kanban</div>
      </h2>
      <form class="ui form" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <div class="ui stacked segment">
          <app-input
            inputType="text"
            label="Username"
            [control]="loginForm.controls['login'] | cast"
            placeholder="Username or Email"
            [hasIcon]="true"
            iconClass="user icon"
          ></app-input>
          <app-input
            inputType="password"
            label="Password"
            [control]="loginForm.controls['password'] | cast"
            placeholder="Password"
            [hasIcon]="true"
            iconClass="lock icon"
          ></app-input>
          <button
            class="ui primary labeled icon button"
            type="submit"
            [disabled]="this.loginForm.invalid"
          >
            <i class="unlock alternate icon"></i>
            Login
          </button>
        </div>
      </form>

      <div class="ui icon warning message" *ngIf="loginForm.errors">
        <i class="ban icon"></i>
        <div class="content" *ngIf="loginForm.errors?.['credentials']">
          <div class="header">Login failed!</div>
          <p>You might have misspelled your username or password!</p>
        </div>
      </div>

      <div class="ui message">New to us? <a href="#">Sign Up</a></div>
    </div>
  </div>
</div>
<!--

<div class="page-login">
  <div class="ui centered grid container">
    <div class="nine wide column">

      <div class="ui fluid card">
        <div class="content">
        <form class="ui form" method="POST">
          <div class="field">
            <label>User</label>
            <input type="text" name="user" placeholder="Username or Email">
          </div>
          <div class="field">
            <label>Password</label>
            <input class="ui labeled icon" type="password" name="pass" placeholder="Password">
          </div>
          <button class="ui primary labeled icon button" type="submit">
            <i class="unlock alternate icon"></i>
            Login
          </button>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>


 -->
