<div>
  <div class="filters">
    <form>
      <mat-toolbar class="toolbar">
        <mat-form-field class="filter" appearance="standard" floatLabel="never">
          <mat-label>Sort By</mat-label>
          <mat-select [(ngModel)]="selectedSortType" name="sortType" [disableOptionCentering]="true">
            <mat-option *ngFor="let type of sortTypes" [value]="type.value">
              {{type.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="filter" appearance="standard" floatLabel="never">
          <mat-label>Filter By</mat-label>
          <mat-select [(ngModel)]="selectedFilterType" name="filterTypes" [disableOptionCentering]="true">
            <mat-option *ngFor="let type of filterTypes" [value]="type.value">
              {{type.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <span class="tool-spacer"></span>
        <mat-form-field class="filter" appearance="standard" floatLabel="never">
          <mat-icon matPrefix class="icon">search</mat-icon>
          <input matInput type="search" placeholder="Search here">
        </mat-form-field>
      </mat-toolbar>
    </form>

  </div>
  <div class="content-block">
    <mat-grid-list cols="4" rowHeight="4:1" gutterSize="10px">
      <mat-grid-tile>
        <div class="ripple-container" matRipple (click)="openCreateBoardDialog()">
          <mat-card class="card-block">
            Create New Board<mat-card-subtitle>Total boards: {{boardCount}}</mat-card-subtitle>
          </mat-card>
        </div>
      </mat-grid-tile>
      <mat-grid-tile *ngFor="let card of cards">
        <div class="ripple-container" matRipple>
          <mat-card class="card-block">
            <mat-card-subtitle>Board:</mat-card-subtitle>
            {{card.name}}
          </mat-card>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>