<div
  class="ui left vertical sidebar menu zIndex10"
  [ngClass]="sidebarVisible ? 'visible' : ''"
>
  <a class="item"> <i class="home icon"></i> Workspaces </a>
  <a class="item"> <i class="block layout icon"></i> Boards </a>
  <a class="item"> <i class="users icon"></i> Users </a>
  <a class="item"> <i class="calendar icon"></i> History </a>
</div>

<div class="ui grid pusher">
  <div class="three wide column"></div>
  <div class="ten wide column">
    <h2 class="ui header">Test Header</h2>
    <p></p>
    <p></p>
  </div>
  <div class="three wide colummn"></div>
</div>
