<div
  class="ui left vertical sidebar menu zIndex10"
  [ngClass]="sidebarVisible ? 'visible' : ''"
>
  <a class="item"> <i class="home icon"></i> {{ selectedWorkspace.name }} </a>
  <a class="item"> <i class="block layout icon"></i> Boards </a>
  <a class="item"> <i class="users icon"></i> Users </a>
  <a class="item"> <i class="calendar icon"></i> History </a>
</div>

<div class="ui grid pusher">
  <div class="fifteen wide column" style="margin-bottom: 20px">
    <router-outlet></router-outlet>
  </div>
</div>
