<div class="ui padded grid">
  <h2 class="ui header"></h2>
</div>
<div class="ui clearing segment">
  <h2 class="ui left floated header">
    <div class="ui circular image circles">
      <div>{{ getInitials(workspace.name) }}</div>
      <div>
        <img src="assets/images/Logo_Circle.png" class="image" *ngIf="false" />
        <!-- Workspace Image impl -->
      </div>
    </div>
    <div class="content">
      {{ workspace.name }} ({{ workspace.shortName }})
      <div class="sub header">
        {{ workspace.category }}
      </div>
      <div class="inline field">
        <div class="ui toggle checkbox">
          <input
            type="checkbox"
            tabindex="0"
            [checked]="workspace.isDefault"
            [disabled]="workspace.isDefault"
            (change)="makeDefault()"
          />
          <label>Default</label>
        </div>
      </div>
    </div>
  </h2>
  <h3 class="ui right floated header">
    <app-workspace-edit [workspace]="workspace"></app-workspace-edit>
  </h3>
</div>
<div class="ui divider"></div>

<ng-template [ngIf]="boards.length >= 1" [ngIfElse]="placeholder">
  <app-boards [boards]="boards" [workspace]="workspace"></app-boards>
</ng-template>

<ng-template #placeholder>
  <div class="ui placeholder segment">
    <div class="ui icon header">
      <i class="file alternate outline icon"></i>
      No boards are listed for this workspace.
    </div>
    <app-boards-add
      buttonType="placeholder"
      [workspace]="workspace"
    ></app-boards-add>
  </div>
</ng-template>
