<h2 class="ui header">Boards</h2>

<div class="ui grid">
  <div class="left floated nine wide column">
    <!-- Sort By -->
    <div class="ui selection dropdown">
      <!-- active visible -->
      <input type="hidden" name="sortBy" />
      <i class="dropdown icon"></i>
      <div class="default text">Sort By</div>
      <div class="menu">
        <!-- transition visible -->
        <div class="item" data-value="1">Most recent</div>
        <div class="item" data-value="0">Alphabetically A-Z</div>
        <div class="item" data-value="0">Alphabetically Z-A</div>
      </div>
    </div>

    <!-- Filter By -->
    <div class="ui selection dropdown" style="margin-left: 10px">
      <!-- active visible -->
      <input type="hidden" name="filterBy" />
      <i class="dropdown icon"></i>
      <div class="default text">Filter By</div>
      <div class="menu">
        <!-- transition visible -->
        <div class="item" data-value="1">Favorite</div>
      </div>
    </div>
  </div>
  <div class="right floated five wide column">
    <!-- Search -->
    <div class="ui icon input floated right" style="float: right">
      <input type="text" placeholder="Search board..." />
      <i class="circular search link icon"></i>
    </div>
  </div>
</div>

<!-- Board Cards -->
<div class="ui four cards">
  <a class="card" *ngFor="let item of boards">
    <div class="content">
      <div class="header">{{ item.name }}</div>
      <div class="meta">{{ item.isFavorite }}</div>
      <div class="description">{{ item.description }}</div>
    </div>
    <div class="extra content">
      <a class="left floated like" (click)="editBoard(item, $event)">
        <i class="pencil alternate icon"></i>
        Edit
      </a>
      <a
        (click)="markFavorite(item, $event)"
        class="right floated star"
        [ngStyle]="item.isFavorite ? { 'background-color': 'green' } : {}"
      >
        <i class="star icon"></i>
        Favorite
      </a>
    </div>
  </a>
  <!-- <a class="card">
    <div class="content">
      <div class="ui icon header">
        <i class="add icon"></i>
        Add Board
      </div>
    </div>
  </a> -->
  <a class="card">
    <div class="content">
      <div class="header">Add a board</div>
      <div class="description">
        Want to add another board? Create board here...
      </div>
    </div>
    <div class="ui bottom attached button" (click)="addNewBoard()">
      <i class="add icon"></i>
      Add Board
    </div>
  </a>
</div>
<!-- End-->
