<h2 class="ui header">Boards</h2>

<div class="ui grid">
  <div class="left floated nine wide column">
    <app-dropdown
      inputName="sortBy"
      text="Sort By"
      [options]="sortByOptions"
      (selected)="onSortByOptionSelected($event)"
    ></app-dropdown>
    <app-dropdown
      style="margin-left: 10px"
      inputName="filterBy"
      text="Filter By"
      [options]="filterByOptions"
      (selected)="onFilterByOptionSelected($event)"
    ></app-dropdown>
    <button style="margin-left: 10px" class="ui button" (click)="clearFilter()">
      Clear Filter
    </button>
  </div>
  <div class="right floated five wide column">
    <!-- Search -->
    <div class="ui icon input floated right" style="float: right">
      <input type="text" placeholder="Search board..." />
      <i class="circular search link icon"></i>
    </div>
  </div>
</div>

<!-- Board Cards -->
<div class="ui four cards" style="padding-top: 20px">
  <a
    class="card"
    *ngFor="let item of filteredBoards"
    [routerLink]="'stage/' + item.id"
    routerLinkActive="active"
  >
    <div class="content">
      <div class="header">{{ item.name }}</div>
      <div class="description">{{ item.description }}</div>
    </div>
    <div class="extra content">
      <app-boards-edit [board]="item" [workspace]="workspace"></app-boards-edit>
      <a
        (click)="toggleFavorite(item, $event)"
        class="right floated star"
        [ngStyle]="item.isFavorite ? { color: 'purple' } : {}"
      >
        <i class="star icon"></i>
        Favorite
      </a>
    </div>
  </a>
  <a class="card">
    <div class="content">
      <div class="header">Add a board</div>
      <div class="description">
        Want to add another board? Create board here...
      </div>
    </div>
    <app-boards-add [workspace]="workspace"></app-boards-add>
  </a>
</div>
<!-- End-->
