<div mat-dialog-content>
    <h1 mat-dialog-title>Create A New Workspace</h1>
    <form [formGroup]="createWorkspaceForm" *ngIf="createWorkspaceForm" (ngSubmit)="onCreate()" novalidate>
        <mat-form-field>
            <input type="text" matInput placeholder="Workspace Name" formControlName="name" required>
            <mat-error *ngIf="workspaceName.invalid">
                Workspace name is required!
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select placeholder="Category" formControlName="category" required>
                <mat-option *ngFor="let type of workspaceTypes" [value]="type">
                  {{type}}
                </mat-option>
              </mat-select>
            <mat-error *ngIf="workspaceCategory.invalid">
                Workspace category is required!
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput placeholder="Short name" formControlName="shortName">
        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput placeholder="Website" formControlName="website">
        </mat-form-field>
        <mat-form-field>
            <textarea matInput placeholder="Description"></textarea>
        </mat-form-field>
        <div class="button">
            <button [disabled]="!createWorkspaceForm.valid" mat-raised-button color="primary" mat-button>Create</button>
        </div>
    </form>
</div>