.container {
    border: 1px solid rgba(0, 0, 0, 0.5);
    top: 64px !important;
}

@media(max-width: 599px) {
    #container {
        top: 48px !important;
    }
}

.sidenav-content {
    height: 100%;
    width: 100%;
    margin-top: 10px;
    justify-content: center;
}

.content-card {
    width: 100%;
    padding-left: 20px;
    padding-right: 10px;
}

.mat-card-title {
    font-size: l;
}

.sidenav {
    padding: 20px;
}

.mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
}

.align_right {
    margin-left: auto; 
    margin-right: 0;
}
.icon_botton {
    color: #757575;
}

.icon_botton:hover {
    color: #000;
}
/*
mat-grid-tile {
    background: lightblue;
} */
