:host {
  display: block;
  margin-bottom: 1em;
}

.inputLabel {
  text-align: left;
}

.inputLabel::after {
  content: ':';
}

.ui.form textarea {
  height: 3em;
  min-height: 3em;
  max-height: 5em;
}
